<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex="70" fxFlex.xs>
    <md-card>
      <md-card-header>
        <md-card-title>行事曆</md-card-title>
        <md-card-subtitle>
          <h1>{{calendarService.selectedMonth}}</h1>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <md-grid-list cols="7" rowHeight="68px">
          <md-grid-tile *ngFor="let header of calendarService.dayHeaders; let i = index" [ngStyle]="{'color': calendarService.dayColors[i]}">
            <h3>{{header}}</h3>
          </md-grid-tile>
          <md-grid-tile [colspan]="calendarService.lastMonth_colspan" *ngIf="calendarService.lastMonth_colspan"></md-grid-tile>
          <md-grid-tile *ngFor="let item of calendarService.days" [ngStyle]="{'color': calendarService.dayColors[item.week]}" class="day" (click)="selectdDay(item)">
            <div fxFill *ngIf="item.isSelected" class="selected"></div>
            <span class="text">{{item.day}}</span>
            <div fxFill fxLayout="row" fxLayoutAlign="start end" class="note">
                <ng-container *ngFor="let note of item.notes">
                    <ng-container [ngSwitch]="note.type">
                        <md-icon *ngSwitchCase="1">assessment</md-icon>
                        <md-icon *ngSwitchCase="2">directions_run</md-icon>
                        <md-icon *ngSwitchCase="3">forum</md-icon>
                        <md-icon *ngSwitchCase="4">local_dining</md-icon>
                        <md-icon *ngSwitchDefault="">alarm</md-icon>
                    </ng-container>
                </ng-container>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="getDay(-1)">上個月</button>
        <button md-button (click)="getToday()">本月</button>
        <button md-button (click)="getDay(1)">下個月</button>
      </md-card-actions>
    </md-card>
  </div>
  <div fxFlex>
    <md-card>
      <md-card-content>
        <h1>{{calendarService.selectedDay | date:'yyyy/MM/dd'}}</h1>
        <md-divider></md-divider>
        <md-list>
          <md-list-item *ngFor="let item of calendarService.selectedItem.notes; let i = index">
            {{i+1}}. {{item.subject}}
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>
