<md-list>
  <h3 md-subheader>員工專區</h3>
  <button md-button routerLink="./calendar" (click)="menu_click()">
    <md-list-item>
      <md-icon md-list-icon>today</md-icon>
      <h4 md-line>行 事 曆</h4>
    </md-list-item>
  </button>
  <button md-button routerLink="./address-book" (click)="menu_click()">
    <md-list-item>
      <md-icon md-list-icon>contact_phone</md-icon>
      <h4 md-line>通 訊 錄</h4>
    </md-list-item>
  </button>
  <button md-button routerLink="./logbook" (click)="menu_click()">
    <md-list-item>
      <md-icon md-list-icon>border_color</md-icon>
      <h4 md-line>工作日誌</h4>
    </md-list-item>
  </button>
  <button md-button routerLink="./to-do-list" (click)="menu_click()">
    <md-list-item>
      <md-icon md-list-icon>playlist_add_check</md-icon>
      <h4 md-line>待辦事項</h4>
    </md-list-item>
  </button>
  <button md-button routerLink="./file" (click)="menu_click()">
    <md-list-item>
      <md-icon md-list-icon>cloud_download</md-icon>
      <h4 md-line>檔案下載</h4>
    </md-list-item>
  </button>
  <button md-button routerLink="./leave" (click)="menu_click()">
    <md-list-item>
      <md-icon md-list-icon>weekend</md-icon>
      <h4 md-line>請  假</h4>
    </md-list-item>
  </button>
  <button md-button routerLink="./reimburse" (click)="menu_click()">
    <md-list-item>
      <md-icon md-list-icon>attach_money</md-icon>
      <h4 md-line>差旅報支</h4>
    </md-list-item>
  </button>
</md-list>
